<app-container>
  <app-header></app-header>
  <input
    type="search"
    placeholder="Digite para buscar"
    [(ngModel)]="filterByText"
    required
  />
  <section class="add-contact">
    <button routerLink="/contact-form">
      <img src="assets/plus.png" alt="">
      <span>Adicionar contato</span>
    </button>
  </section>
  @for (letter of alphabet; track letter) {
    @if (filterContactsByInitialLetter(letter).length > 0) {
      <app-separator>
        {{letter}}
      </app-separator>
      @for (contact of filterContactsByInitialLetter(letter); track contact.id) {
        <app-contact [name]="contact.name" [telephone]="contact.telephone"></app-contact>
      }
    }
  }
</app-container>
